main{
    min-height: 80vh;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: gray !important;
}

.nav-link:hover{
    color: #fff !important;
}

h3 {
    margin:1rem 0;
}

.rating span {
    margin:0.1rem;  
}

h1 {
    font-size: 1rem;
    padding:1rem 0;
}
h2 {
    font-size: 0.8rem;
    padding:1rem 0;
}